{% capture modal_content %}
<form>
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">{{ include.name }}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body form-horizontal text-center">
    {{ content }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">
      {% if page.cancel_text %}
        {{ page.cancel_text }}
      {% else %}
        Cancel
      {% endif %}
    </button>
    <button type="submit" class="btn btn-primary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
      {% if page.submit_text %}
        {{ page.submit_text }}
      {% else %}
        Submit
      {% endif %}
    </button>
  </div>
</form>
{% endcapture %}

{% include modals/modal.html content=modal_content modal_id=include.modal_id%}