{% capture modal_content %}
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">{{ site.data.settings.rsvp.yes_modal_title }}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="section-padding">
      <p>{{ site.data.settings.rsvp.yes_modal_body }}</p>
      <p>{{ site.data.settings.rsvp.sms_followup_text }}</p>
      <div id="add-to-cal"></div>
    </div>
  </div>
{% endcapture %}

{% assign main_event = site.data.events | where: "main_event", true | first %}
{%- capture eventTitle -%}
  {{ site.data.couple.spouse1.short_name }}'s and {{ site.data.couple.spouse2.short_name }}'s Wedding
{%- endcapture -%}
<script>
    const myCalendar = createAddToCalendarButton({
      // Event title
      title: "{{ eventTitle | escape }}",

      // Event start date
      start: new Date(Number("{{ main_event.date | date: '%s' }}") * 1000),

      // Event duration (IN MINUTES)
      // duration: 4 * 60,

      // You can also choose to set an end time
      // If an end time is set, this will take precedence over duration
      end: new Date(Number("{{ main_event.endDate | date: '%s' }}") * 1000),

      // Event Address
      address: '{{ main_event.location.address }} {{ main_event.location.city }}, {{ main_event.location.state }} {{ main_event.location.zip }}',

      // Event Description
      description: "{{ main_event.calendar_description}} \n\nWebsite: {{site.url}}"
    },
      'add-to-cal',
    );
  </script>
    
{% include modals/modal.html content=modal_content name='RSVP Yes' modal_id='rsvp-yes-modal' %}
