{% capture modal_content %}
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">{{ site.data.settings.rsvp.no_modal_title }}</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="section-padding">
      <p>{{ site.data.settings.rsvp.no_modal_body }}</p>
      <p>{{ site.data.settings.rsvp.sms_followup_text }}</p>
    </div>
  </div>
{% endcapture %}
{% include modals/modal.html content=modal_content name='RSVP No' modal_id='rsvp-no-modal' %}