<!-- <div class="floating-info">
  <a class="floating-button" href="javascript://" data-toggle="modal" data-target="#subscribe-modal">
    <i class="fa fa-envelope animated"></i>
  </a>
</div> -->

<div class="modal fade" id="subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//chrisbaclig.us2.list-manage.com/subscribe/post?u=87bc541350a8d9fdfbf974458&amp;id=dde4d12650" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Receive Email Updates</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body form-horizontal text-center">
              <p>
                Let us know your email address, and we'll shoot you a note when
                we have new information to share or last-minute changes.
              </p>
              <p>
                If you choose not to sign-up, you can always reach us directly at
                <a href="mailto:nvashi25@gmail.com">nvashi25@gmail.com</a>
                or
                <a href="mailto:chris@baclig.me">chris@baclig.me</a>
                with any questions.
              </p>
              <div class="form-group">
                <label for="mce-EMAIL" class="control-label col-xs-offset-1 col-xs-2">
                  <h5 style="margin-bottom: 0">Email</h5>
                </label>
                <div class="col-xs-8">
                  <input type="email" placeholder="email@domain.com" name="EMAIL" class="form-control" id="mce-EMAIL">
                </div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_87bc541350a8d9fdfbf974458_dde4d12650" tabindex="-1" value=""></div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>
