 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top {% if page.invisible_nav %} navbar-hidden-top {% else %} top-nav-collapse {% endif %}" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}/">
                  {{ site.data.couple.spouse1.short_name | slice: 0 }}
                  &
                  {{ site.data.couple.spouse2.short_name | slice: 0 }}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    {% for item in site.data.navigation %}
                      {% if item.modal_id %}
                        <li class="modal-link">
                          <a href="#" data-toggle="modal" data-target="#{{item.modal_id}}">
                            {{ item.name }}
                            <!-- <i class="fa fa-exclamation-circle modal-link--icon"></i> -->
                          </a>
                        </li>
                      {% else %}
                        <li class="{% if page.url == {{site.baseurl}}/item.link %}active{% endif %}">
                            <a href="{{site.baseurl}}{{item.link}}">{{ item.name }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
