{% if site.data.people.families %}
  <section class="container content-section text-center">
    <h2>{{ site.data.settings.people.families_header }}</h2>
    <p> {{ site.data.settings.people.families_text }} </p>
    <div class="people-grid">
      {% for family in site.data.people.families %}
        <div class="protrait polaroid">
          <img src="{{site.baseurl}}/assets/img/people/{{ family.pic }}"
               class="img-thumbnail img-responsive"
               alt="{{ family.name }}"
               title="{{ family.name }}"
               {% if family.position %}
               style="object-position: {{ family.position }}"
               {% endif %}
          >
          <div class="caption">
            <h4>{{ family.name }}</h4>
            <p>{{ family.people }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% if site.data.people.kids %}
  <section class="container content-section text-center">
    <h2>{{ site.data.settings.people.kids_header }}</h2>
    <p>
      {{ site.data.settings.people.kids_text }}
    </p>
    <div class="people-grid">
      {% for kid in site.data.people.kids %}
        <div class="portrait polaroid">
          <img src="{{site.baseurl}}/assets/img/people/{{ kid.pic }}"
               class="img-thumbnail img-responsive"
               alt="{{ kid.name }}"
               title="{{ kid.name }}"
               {% if her.position %}
               style="object-position: {{ kid.position }}"
               {% endif %}
          >
          <div class="caption">
            <h5>{{ kid.name }}</h5>
              <small>{{ kid.role }}</small>
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% if site.data.people.his_side and site.data.people.her_side %}
  <section class="container content-section text-center">
    <h2>{{ site.data.settings.people.wedding_party_header }}</h2>

    <div class="people-grid">
    {% for her in site.data.people.her_side %}
      {% assign his = site.data.people.his_side[forloop.index0] %}

        <div class="portrait polaroid">
          <img class="img-thumbnail img-responsive" src="{{site.baseurl}}/assets/img/people/{{ her.pic }}" alt="{{ her.name }}"
            title="{{ her.name }}"
            {% if her.position %}
            style="object-position: {{ her.position }}"
            {% endif %}
          >
          <div class="caption">
            <h5>{{ her.name }}</h5>
            <small>{{ her.role }}</small>
          </div>
        </div>

        <div class="portrait polaroid">
          <img class="img-thumbnail img-responsive" src="{{site.baseurl}}/assets/img/people/{{ his.pic }}" alt="{{ his.name }}"
            title="{{ his.name }}"
            {% if his.position %}
            style="object-position: {{ his.position }}"
            {% endif %}
          >
          <div class="caption">
            <h5>{{ his.name }}</h5>
            <small>{{ his.role }}</small>
          </div>
        </div>

    {% endfor %}

    </div>
  </section>
{% endif %}
