@import 'under_construction';

body {
  width: 100%;
  height: 100%;
  font-family: Cardo, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;
}

.footer-wrapper {
  flex-shrink: 0;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

ul {
  font-size: 18px;
  margin: 0 0 25px;
}

@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    line-height: 1.6;
  }
}

a {
  color: #219ab3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #11505d;
}

.light {
  font-weight: 400;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggler {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggler:focus,
.navbar-custom .navbar-brand .navbar-toggler:active {
  outline: 0;
}

.navbar-custom .navbar-toggler {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #fff;
}

.navbar-custom.top-nav-collapse .navbar-toggler {
  color: inherit;
}

.navbar-custom a {
  color: #404040;
  /*text-shadow: 0px 0px 1px #B38C00;*/
}

.navbar-custom ul {
  font-size: 14px;
}

.navbar-custom.top-nav-collapse .nav li.active,
.navbar-custom.is-expanded .nav li.active {
  outline: none;
  background-color: #ddd;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom.top-nav-collapse .nav li a:hover,
.navbar-custom.top-nav-collapse .nav li a:focus,
.navbar-custom.top-nav-collapse .nav li a.active {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-custom {
  border-bottom: 3px solid #afa63d;
  box-shadow: #888 0px 1px 10px;
}

.navbar {
  border-bottom: 0;
  box-shadow: none;
  letter-spacing: 1px;
  background: 0 0;
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-custom.is-expanded,
.top-nav-collapse {
  padding: 0;
  background-color: #fff;
}

.navbar-custom.is-expanded a,
.navbar-custom.top-nav-collapse a,
.navbar-custom.is-expanded .navbar-toggler {
  color: #404040;
}

.navbar a {
  color: #fff;
}
.navbar-custom.top-nav-collapse {
  border-bottom: 3px solid #afa63d;
  box-shadow: #888 0px 1px 10px;
}

.intro {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #fff;
  text-shadow: black 2px 2px 10px;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%,
             rgba(0,0,0,0.65) 100%),url($intro_image) no-repeat center center scroll;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 992px) {
  /*
    Only allow background-attachment: fixed for desktop-ish sizes
    https://twitter.com/paul_irish/status/306818591196602368
  */
  .intro {
    background-attachment: fixed;
  }
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.brand-heading {
  font-size: 40px;
  letter-spacing: 0.025em;
}

.intro-text {
  font-size: 18px;
}

@media (min-width: 767px) {
  .intro {
    padding: 0;
  }

  .brand-heading {
    font-size: 100px;
  }

  .intro-text {
    font-size: 25px;
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-section h2 small {
  white-space: nowrap;
}

.download-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(../img/downloads-bg.jpg) no-repeat center center;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.map {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  .map {
    height: 600px;
  }
}

.btn {
  text-transform: uppercase;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-default {
  border: 1px solid #219ab3;
  color: #219ab3;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid #219ab3;
  outline: 0;
  color: #000000;
  background-color: #219ab3;
}

footer {
  padding: 50px 0;
}

footer p {
  margin: 0;
}

body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

/* Author: cbaclig */

dd {
  white-space: pre-line;
}

.thumbnail.thumbnail-hotel {
  padding: 0;
  border-radius: 0;
}

.thumbnail.thumbnail-hotel .caption {
  padding-top: 35px;
}

.thumbnail.thumbnail-hotel .caption h4 {
  margin-bottom: 0;
}

.thumbnail.thumbnail-portrait .caption h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.thumbnail.thumbnail-portrait {
  padding: 0;
  border: none;
  margin-bottom: 0;
  img {
    height: 500px;
    object-fit: cover;
  }
}

.billboard {
  display: table;
  width: 100%;
  height: 300px;
  text-align: center;
  color: #fff;
  text-shadow: black 2px 2px 10px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.billboard-header {
  /* Height of nav + 2px bottom border*/
  margin-top: 52px;
  height: 175px;
}

.billboard-text {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  height: 1em;
  text-align: center;
  width: 100%;
  letter-spacing: 0.1em;
  font-size: 40px;
}

@media (min-width: 767px) {
  .billboard {
    height: 400px;
  }

  .billboard-header {
    height: 300px;
  }

  .billboard-text {
    font-size: 80px;
  }
}

@media (min-width: 992px) {
  /*
    Only allow background-attachment: fixed for desktop-ish sizes
    https://twitter.com/paul_irish/status/306818591196602368
  */
  .billboard {
    background-attachment: fixed;
  }
  .billboard-header {
    background-attachment: scroll;
  }
}

.billboard-wall {
  background-position: center center;
  background-image: url(../img/wall.jpg);
}

.billboard-stairs {
  background-position: center center;
  background-image: url(../img/stairs.jpg);
}

.billboard-skyline {
  background-position: center -17em;
  background-image: url(../img/skyline.jpg);
}

.billboard-bridge-walk {
  background-position: center top;
  background-image: url(../img/bridge-walk.jpg);
}

.billboard-ramp-walk {
  background-position: center center;
  background-image: url(../img/ramp-walk.jpg);
}

.billboard-river-smile {
  background-position: center center;
  background-image: url(../img/river-smile.jpg);
}

@media (min-width: 767px) {
  .billboard-wall {
    background-position: center -170px;
  }

  .billboard-bridge-walk {
    background-position: center -160px;
  }

  .billboard-stairs {
    background-position: center -185px;
  }

  .billboard-ramp-walk {
    background-position: center -190px;
  }

  .floating-info {
    position: fixed;
    bottom: 40px;
    right: 40px;
  }

  .floating-button {
    display: block;
    background: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #aaa;
    font-family: Raleway;
    box-shadow: #777 1px 1px 4px;
    opacity: 0.3;
  }

  .floating-button:hover {
    opacity: 1;
  }

  .navbar-custom.top-nav-collapse .modal-link.notify a {
    color: #8d5f9e;
  }

  .modal-link .modal-link--icon {
    display: none;
  }

  .modal-link.notify .modal-link--icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 2px;
  }
}

.rsvp-form {
  .input-group {
    padding: 10px;
  }

  .help-text {
    opacity: .8;
  }
}

.portraits-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .portrait {
    padding: 20px;
  }
}

.faq-answer {
  margin-left: 3rem;
}

footer.site-footer {
  padding: 5px 10px;
  background-color: #e0e2e4;
  color: #7b7b7b;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  p {
    font-size: 11pt;
  }
  a {
    color: #118da7;
  }
}

.add-to-calendar-checkbox {
  border: 1px solid #bfb9b9;
  border-radius: 3px;
  padding: 5px;
  box-shadow: #e4e4e4 2px 2px 2px;
  cursor: pointer;
}
