@import "scss/bootstrap-overrides";
@import '~bootstrap/scss/bootstrap';

@import 'scss/variables';
@import 'scss/misc';
@import 'scss/under_construction';
@import 'scss/navbar';
@import 'scss/intro';
@import 'scss/faq';
@import 'scss/celebrations';
@import 'scss/footer';
