.banner-container {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    z-index: 999;

    .banner {
        position: relative;
        background-color: var(--accent-color);
        margin-top: 20px;
        padding: 20px;
        color: var(--accent-text-color);
        border-radius: 10px;

        a {
            color: var(--accent-text-color);
            font-weight: bolder;
        }

        .close-button {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
        }

        &.hidden {
            transition: all 1s;
            opacity: 0;
        }

        &.closed {
            display: none;
        }
    }
}