.intro {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: #fff;
  text-shadow: black 2px 2px 10px;
  background: var(--intro-background);
  background-color: #000000;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media (min-width: 992px) {
  /*
    Only allow background-attachment: fixed for desktop-ish sizes
    https://twitter.com/paul_irish/status/306818591196602368
  */
  .intro {
    background-attachment: fixed;
  }
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.brand-heading {
  font-size: 40px;
  letter-spacing: 0.025em;
}

.intro-text {
  font-size: 18px;
}

@media (min-width: 767px) {
  .intro {
    padding: 0;
  }

  .brand-heading {
    font-size: 100px;
  }

  .intro-text {
    font-size: 25px;
  }
}