.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggler {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggler:focus,
.navbar-custom .navbar-brand .navbar-toggler:active {
  outline: 0;
}

.navbar-custom .navbar-toggler {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #fff;
}

.navbar-custom.top-nav-collapse .navbar-toggler {
  color: inherit;
}

.navbar-custom a {
  color: #404040;
  /*text-shadow: 0px 0px 1px #B38C00;*/
}

.navbar-custom ul {
  font-size: 14px;
}

.navbar-custom.top-nav-collapse .nav li.active,
.navbar-custom.is-expanded .nav li.active {
  outline: none;
  background-color: #ddd;
}

.navbar-custom .nav li a {
  transition: background 0.5s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom.top-nav-collapse .nav li a:hover,
.navbar-custom.top-nav-collapse .nav li a:focus,
.navbar-custom.top-nav-collapse .nav li a.active {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-custom {
  border-bottom: 3px solid #afa63d;
  box-shadow: #888 0px 1px 10px;
}

.navbar {
  border-bottom: 0;
  box-shadow: none;
  letter-spacing: 1px;
  background: 0 0;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-custom.is-expanded,
.top-nav-collapse {
  padding: 0;
  background-color: #fff;
}

.navbar-custom.is-expanded a,
.navbar-custom.top-nav-collapse a,
.navbar-custom.is-expanded .navbar-toggler {
  color: #404040;
}

.navbar a {
  color: #fff;
}
.navbar-custom.top-nav-collapse {
  border-bottom: 3px solid #afa63d;
  box-shadow: #888 0px 1px 10px;
}
