.under-construction-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.under-construction-content {
    padding: 6rem;
    background: #bfbfbf80;
    border-radius: 11px;
    background: radial-gradient(ellipse, rgba(255, 239, 239, .91) 0%, rgba(255, 255, 255, .63) 42%, rgba(0, 0, 0, .0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 5rem;
    }
}