<!DOCTYPE html>
<html>
    {% include head.html %}
    <body data-target=".navbar-fixed-top">
        <!-- Javascript Imports -->
        {% include js.html src="assets/js/jquery.js" %}
        {% include js.html src="assets/js/bootstrap.min.js" %}
        {% include js.html src="assets/js/jquery.easing.min.js" %}
        {% include js.html src="assets/js/globals.js" %}
        {% include js.html src="assets/js/main.js" %}

        {% include modals.html %}
        {% include nav.html %}

        <div class="content-wrapper">
            {{ content }}
        </div>
        <div class="footer-wrapper">
            {% include footer.html %}
        </div>
    </body>
</html>
